.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.section {
    width: 100%;
    margin: 20px 0;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 .text {
    flex: 1;
}

.section-1 .infographic {
    flex: 1;
    display: flex;
    justify-content: center;
}

.section-2 {
    text-align: center;
    width: 400px;
}

.section-3 {
    display: flex;
    justify-content: space-around;
}

.section-3 .column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.section-3 .link {
    text-decoration: none;
    color: teal;
}

.section-3 .link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section-3 .link.disabled {
    color: lightgrey;
    pointer-events: none;
    text-decoration: none;;
}

.section-4 {
    text-align: center;
}

.join-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
