.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.auth-links {
  display: flex;
  align-items: center;
}

.start-group-link {
  margin-right: 20px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  color: teal;
}

.login-button, .signup-button {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.signup-button {
    background-color: teal;
    color: white;
}

.login-button {
    background-color: white;
    color: black;
}

.login-button:hover {
    color: teal;
}

.nav {
  display: flex;
  align-items: center;
}
